
		<!-- begin::Global Config(global config for global JS sciprts) -->
		<script>
			var KTAppOptions = {
				"colors": {
					"state": {
						"brand": "#5d78ff",
						"dark": "#282a3c",
						"light": "#ffffff",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995"
					},
					"base": {
						"label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
						"shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
					}
				}
			};
		</script>

		<!-- end::Global Config -->

		<!--begin:: Global Mandatory Vendors -->
	   
	    {metronic:theme:js file="vendors/general/popper.js/dist/umd/popper.js"}
	    {metronic:theme:js file="vendors/general/bootstrap/dist/js/bootstrap.min.js"}
	    {metronic:theme:js file="vendors/general/js-cookie/src/js.cookie.js"}
	    {metronic:theme:js file="vendors/general/moment/min/moment.min.js"}
	    {metronic:theme:js file="vendors/general/tooltip.js/dist/umd/tooltip.min.js"}
	    {metronic:theme:js file="vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js"}
	    {metronic:theme:js file="vendors/general/sticky-js/dist/sticky.min.js"}
	    {metronic:theme:js file="vendors/general/wnumb/wNumb.js"}

		<!--end:: Global Mandatory Vendors -->

		<!--begin:: Global Optional Vendors -->
	    {metronic:theme:js file="vendors/general/jquery-form/dist/jquery.form.min.js"}
	    {metronic:theme:js file="vendors/general/block-ui/jquery.blockUI.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/bootstrap-datepicker.init.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/bootstrap-timepicker.init.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-daterangepicker/daterangepicker.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js"}
	    {metronic:theme:js file="vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-select/dist/js/bootstrap-select.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js"}
	    {metronic:theme:js file="vendors/general/select2/dist/js/select2.full.js"}
	    {metronic:theme:js file="vendors/general/ion-rangeslider/js/ion.rangeSlider.js"}
	    {metronic:theme:js file="vendors/general/typeahead.js/dist/typeahead.bundle.js"}
	    {metronic:theme:js file="vendors/general/handlebars/dist/handlebars.js"}
	    {metronic:theme:js file="vendors/general/inputmask/dist/jquery.inputmask.bundle.js"}
	    {metronic:theme:js file="vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js"}
	    {metronic:theme:js file="vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js"}
	    {metronic:theme:js file="vendors/general/nouislider/distribute/nouislider.js"}
	    {metronic:theme:js file="vendors/general/owl.carousel/dist/owl.carousel.js"}
	    {metronic:theme:js file="vendors/general/autosize/dist/autosize.js"}
	    {metronic:theme:js file="vendors/general/clipboard/dist/clipboard.min.js"}
	    {metronic:theme:js file="vendors/general/dropzone/dist/dropzone.js"}
	    {metronic:theme:js file="vendors/general/summernote/dist/summernote.js"}
	    {metronic:theme:js file="vendors/general/markdown/lib/markdown.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-markdown/js/bootstrap-markdown.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/bootstrap-markdown.init.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-notify/bootstrap-notify.min.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/bootstrap-notify.init.js"}
	    {metronic:theme:js file="vendors/general/jquery-validation/dist/jquery.validate.js"}
	    {metronic:theme:js file="vendors/general/jquery-validation/dist/additional-methods.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/jquery-validation.init.js"}
	    {metronic:theme:js file="vendors/general/toastr/build/toastr.min.js"}
	    {metronic:theme:js file="vendors/general/raphael/raphael.js"}
	    {metronic:theme:js file="vendors/general/morris.js/morris.js"}
	    {metronic:theme:js file="vendors/general/chart.js/dist/Chart.bundle.js"}
	    {metronic:theme:js file="vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js"}
	    {metronic:theme:js file="vendors/custom/vendors/jquery-idletimer/idle-timer.min.js"}
	    {metronic:theme:js file="vendors/general/waypoints/lib/jquery.waypoints.js"}
	    {metronic:theme:js file="vendors/general/counterup/jquery.counterup.js"}
	    {metronic:theme:js file="vendors/general/es6-promise-polyfill/promise.min.js"}
	    {metronic:theme:js file="vendors/general/sweetalert2/dist/sweetalert2.min.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/sweetalert2.init.js"}
	    {metronic:theme:js file="vendors/general/jquery.repeater/src/lib.js"}
	    {metronic:theme:js file="vendors/general/jquery.repeater/src/jquery.input.js"}
	    {metronic:theme:js file="vendors/general/jquery.repeater/src/repeater.js"}
	    {metronic:theme:js file="vendors/general/dompurify/dist/purify.js"}

		<!--end:: Global Optional Vendors -->

		<!--begin::Global Theme Bundle(used by all pages) -->
	    {metronic:theme:js file="scripts.bundle.js"}
		<!--end::Global Theme Bundle -->

		<!--begin::Page Scripts(used by this page) -->
	    {metronic:theme:js file="pages/login/login-1.js"}

		<!--end::Page Scripts -->
	    {metronic:theme:js file="custom.js"}

	</body>

	<!-- end::Body -->
</html>