<IfModule mod_rewrite.c>
    # Make sure directory listing is disabled
	Options +FollowSymLinks -Indexes
	ErrorDocument 400 /index.php
	ErrorDocument 403 /index.php
	ErrorDocument 500 /index.php
	ErrorDocument 503 /index.php
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
    Header set Access-Control-Allow-Origin "*"
    Header Set Access-Control-Allow-Methods "POST, GET,PUT, OPTIONS, PATCH, DELETE"
    Header Set Access-Control-Allow-Headers: "Authorization,Content-Type"
	<IfModule mod_php5.c>
		RewriteRule ^(.*)$ index.php/$1 [L]
	</IfModule>
	<IfModule !mod_php5.c>
		RewriteRule ^(.*)$ index.php?/$1 [L]
	</IfModule>
</IfModule>