
							<!--End::Dashboard 1-->
						</div>

						<!-- end:: Content -->
					</div>

					<!-- begin:: Footer -->
					<div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
						<div class="kt-container  kt-container--fluid ">
							<div class="kt-footer__copyright">
								<?php echo date('Y'); ?> &nbsp;&copy;&nbsp; <a href="#" target="_blank" class="kt-link"><?php echo $this->settings->application_name; ?></a>
							</div>
							<div class="kt-footer__menu">
								<!--
									<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">About</a>
									<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
									<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
								-->
							</div>
						</div>
					</div>

					<!-- end:: Footer -->
				</div>
			</div>
		</div>

		<!-- end:: Page -->

		<!-- begin::Quick Panel -->

		<!-- end::Quick Panel -->

		<!-- begin::Scrolltop -->
		<div id="kt_scrolltop" class="kt-scrolltop">
			<i class="fa fa-arrow-up"></i>
		</div>

		<!-- end::Scrolltop -->

		<!-- begin::Sticky Toolbar -->

		<!-- end::Sticky Toolbar -->

		<!-- begin::Demo Panel -->
		<div id="kt_demo_panel" class="kt-demo-panel">
			<div class="kt-demo-panel__head">
				<h3 class="kt-demo-panel__title">
					Select A Demo

					<!--<small>5</small>-->
				</h3>
				<a href="#" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
			</div>
			<div class="kt-demo-panel__body">
				<div class="kt-demo-panel__item kt-demo-panel__item--active">
					<div class="kt-demo-panel__item-title">
						Demo 1
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo1.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo1/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 2
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo2.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo2/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 3
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo3.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo3/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 4
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo4.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo4/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 5
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo5.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo5/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 6
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo6.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo6/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 7
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo7.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo7/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 8
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo8.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo8/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 9
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo9.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo9/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 10
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo10.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo10/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 11
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo11.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo11/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 12
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo12.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="demo12/index.html" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 13
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo13.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
						</div>
					</div>
				</div>
				<div class="kt-demo-panel__item ">
					<div class="kt-demo-panel__item-title">
						Demo 14
					</div>
					<div class="kt-demo-panel__item-preview">
						<img src="./assets/media/demos/preview/demo14.jpg" alt="" />
						<div class="kt-demo-panel__item-preview-overlay">
							<a href="#" class="btn btn-brand btn-elevate disabled">Coming soon</a>
						</div>
					</div>
				</div>
				<a href="https://1.envato.market/EA4JP" target="_blank" class="kt-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">
					Buy Metronic Now!
				</a>
			</div>
		</div>

		<!-- end::Demo Panel -->

		<!--Begin:: Chat-->
		<div class="modal fade- modal-sticky-bottom-right" id="kt_chat_modal" role="dialog" data-backdrop="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="kt-chat">
						<div class="kt-portlet kt-portlet--last">
							<div class="kt-portlet__head">
								<div class="kt-chat__head ">
									<div class="kt-chat__left">
										<div class="kt-chat__label">
											<a href="#" class="kt-chat__title">Jason Muller</a>
											<span class="kt-chat__status">
												<span class="kt-badge kt-badge--dot kt-badge--success"></span> Active
											</span>
										</div>
									</div>
									<div class="kt-chat__right">
										<div class="dropdown dropdown-inline">
											<button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="flaticon-more-1"></i>
											</button>
											<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-md">

												<!--begin::Nav-->
												<ul class="kt-nav">
													<li class="kt-nav__head">
														Messaging
														<i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
													</li>
													<li class="kt-nav__separator"></li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon2-group"></i>
															<span class="kt-nav__link-text">New Group</span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon2-open-text-book"></i>
															<span class="kt-nav__link-text">Contacts</span>
															<span class="kt-nav__link-badge">
																<span class="kt-badge kt-badge--brand  kt-badge--rounded-">5</span>
															</span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon2-bell-2"></i>
															<span class="kt-nav__link-text">Calls</span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon2-dashboard"></i>
															<span class="kt-nav__link-text">Settings</span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link">
															<i class="kt-nav__link-icon flaticon2-protected"></i>
															<span class="kt-nav__link-text">Help</span>
														</a>
													</li>
													<li class="kt-nav__separator"></li>
													<li class="kt-nav__foot">
														<a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
														<a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
													</li>
												</ul>

												<!--end::Nav-->
											</div>
										</div>
										<button type="button" class="btn btn-clean btn-sm btn-icon" data-dismiss="modal">
											<i class="flaticon2-cross"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="kt-portlet__body">
								<div class="kt-scroll kt-scroll--pull" data-height="410" data-mobile-height="300">
									<div class="kt-chat__messages kt-chat__messages--solid">
										<div class="kt-chat__message kt-chat__message--success">
											<div class="kt-chat__user">
												<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
													<img src="./assets/media/users/100_12.jpg" alt="image">
												</span>
												<a href="#" class="kt-chat__username">Jason Muller</span></a>
												<span class="kt-chat__datetime">2 Hours</span>
											</div>
											<div class="kt-chat__text">
												How likely are you to recommend our company<br> to your friends and family?
											</div>
										</div>
										<div class="kt-chat__message kt-chat__message--right kt-chat__message--brand">
											<div class="kt-chat__user">
												<span class="kt-chat__datetime">30 Seconds</span>
												<a href="#" class="kt-chat__username">You</span></a>
												<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
													<img src="./assets/media/users/300_21.jpg" alt="image">
												</span>
											</div>
											<div class="kt-chat__text">
												Hey there, we’re just writing to let you know that you’ve<br> been subscribed to a repository on GitHub.
											</div>
										</div>
										<div class="kt-chat__message kt-chat__message--success">
											<div class="kt-chat__user">
												<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
													<img src="./assets/media/users/100_12.jpg" alt="image">
												</span>
												<a href="#" class="kt-chat__username">Jason Muller</span></a>
												<span class="kt-chat__datetime">30 Seconds</span>
											</div>
											<div class="kt-chat__text">
												Ok, Understood!
											</div>
										</div>
										<div class="kt-chat__message kt-chat__message--right kt-chat__message--brand">
											<div class="kt-chat__user">
												<span class="kt-chat__datetime">Just Now</span>
												<a href="#" class="kt-chat__username">You</span></a>
												<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
													<img src="./assets/media/users/300_21.jpg" alt="image">
												</span>
											</div>
											<div class="kt-chat__text">
												You’ll receive notifications for all issues, pull requests!
											</div>
										</div>
										<div class="kt-chat__message kt-chat__message--success">
											<div class="kt-chat__user">
												<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
													<img src="./assets/media/users/100_12.jpg" alt="image">
												</span>
												<a href="#" class="kt-chat__username">Jason Muller</span></a>
												<span class="kt-chat__datetime">2 Hours</span>
											</div>
											<div class="kt-chat__text">
												You were automatically <b class="kt-font-brand">subscribed</b> <br>because you’ve been given access to the repository
											</div>
										</div>
										<div class="kt-chat__message kt-chat__message--right kt-chat__message--brand">
											<div class="kt-chat__user">
												<span class="kt-chat__datetime">30 Seconds</span>
												<a href="#" class="kt-chat__username">You</span></a>
												<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
													<img src="./assets/media/users/300_21.jpg" alt="image">
												</span>
											</div>
											<div class="kt-chat__text">
												You can unwatch this repository immediately <br>by clicking here: <a href="#" class="kt-font-bold kt-link"></a>
											</div>
										</div>
										<div class="kt-chat__message kt-chat__message--success">
											<div class="kt-chat__user">
												<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
													<img src="./assets/media/users/100_12.jpg" alt="image">
												</span>
												<a href="#" class="kt-chat__username">Jason Muller</span></a>
												<span class="kt-chat__datetime">30 Seconds</span>
											</div>
											<div class="kt-chat__text">
												Discover what students who viewed Learn <br>Figma - UI/UX Design Essential Training also viewed
											</div>
										</div>
										<div class="kt-chat__message kt-chat__message--right kt-chat__message--brand">
											<div class="kt-chat__user">
												<span class="kt-chat__datetime">Just Now</span>
												<a href="#" class="kt-chat__username">You</span></a>
												<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
													<img src="./assets/media/users/300_21.jpg" alt="image">
												</span>
											</div>
											<div class="kt-chat__text">
												Most purchased Business courses during this sale!
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="kt-portlet__foot">
								<div class="kt-chat__input">
									<div class="kt-chat__editor">
										<textarea placeholder="Type here..." style="height: 50px"></textarea>
									</div>
									<div class="kt-chat__toolbar">
										<div class="kt_chat__tools">
											<a href="#"><i class="flaticon2-link"></i></a>
											<a href="#"><i class="flaticon2-photograph"></i></a>
											<a href="#"><i class="flaticon2-photo-camera"></i></a>
										</div>
										<div class="kt_chat__actions">
											<button type="button" class="btn btn-brand btn-md  btn-font-sm btn-upper btn-bold kt-chat__reply">reply</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end::Global Config -->

		<script type="text/javascript">
			var KTAppOptions = {
			        "colors": {
			            "state": {
			                "brand": "#5d78ff",
			                "dark": "#282a3c",
			                "light": "#ffffff",
			                "primary": "#5867dd",
			                "success": "#34bfa3",
			                "info": "#36a3f7",
			                "warning": "#ffb822",
			                "danger": "#fd3995"
			            },
			            "base": {
			                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
			                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
			            }
			        }
			    };
		</script>

		<!--begin:: Global Mandatory Vendors -->
	    {metronic:theme:js file="vendors/general/popper.js/dist/umd/popper.js"}
	    {metronic:theme:js file="vendors/general/bootstrap/dist/js/bootstrap.min.js"}
	    {metronic:theme:js file="vendors/general/js-cookie/src/js.cookie.js"}
	    {metronic:theme:js file="vendors/general/moment/min/moment.min.js"}
	    {metronic:theme:js file="vendors/general/tooltip.js/dist/umd/tooltip.min.js"}
	    {metronic:theme:js file="vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js"}
	    {metronic:theme:js file="vendors/general/sticky-js/dist/sticky.min.js"}
	    {metronic:theme:js file="vendors/general/wnumb/wNumb.js"}

		<!--end:: Global Mandatory Vendors -->

		<!--begin:: Global Optional Vendors -->
	    {metronic:theme:js file="vendors/general/jquery-form/dist/jquery.form.min.js"}
	    {metronic:theme:js file="vendors/general/block-ui/jquery.blockUI.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/bootstrap-datepicker.init.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/bootstrap-timepicker.init.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-daterangepicker/daterangepicker.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js"}
	    {metronic:theme:js file="vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-select/dist/js/bootstrap-select.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js"}
	    {metronic:theme:js file="vendors/general/select2/dist/js/select2.full.js"}
	    {metronic:theme:js file="vendors/general/ion-rangeslider/js/ion.rangeSlider.js"}
	    {metronic:theme:js file="vendors/general/typeahead.js/dist/typeahead.bundle.js"}
	    {metronic:theme:js file="vendors/general/handlebars/dist/handlebars.js"}
	    {metronic:theme:js file="vendors/general/inputmask/dist/jquery.inputmask.bundle.js"}
	    {metronic:theme:js file="vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js"}
	    {metronic:theme:js file="vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js"}
	    {metronic:theme:js file="vendors/general/nouislider/distribute/nouislider.js"}
	    {metronic:theme:js file="vendors/general/owl.carousel/dist/owl.carousel.js"}
	    {metronic:theme:js file="vendors/general/autosize/dist/autosize.js"}
	    {metronic:theme:js file="vendors/general/clipboard/dist/clipboard.min.js"}
	    {metronic:theme:js file="vendors/general/dropzone/dist/dropzone.js"}
	    {metronic:theme:js file="vendors/general/summernote/dist/summernote.js"}
	    {metronic:theme:js file="vendors/general/markdown/lib/markdown.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-markdown/js/bootstrap-markdown.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/bootstrap-markdown.init.js"}
	    {metronic:theme:js file="vendors/general/bootstrap-notify/bootstrap-notify.min.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/bootstrap-notify.init.js"}
	    {metronic:theme:js file="vendors/general/jquery-validation/dist/jquery.validate.js"}
	    {metronic:theme:js file="vendors/general/jquery-validation/dist/additional-methods.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/jquery-validation.init.js"}
	    {metronic:theme:js file="vendors/general/toastr/build/toastr.min.js"}
	    {metronic:theme:js file="vendors/general/raphael/raphael.js"}
	    {metronic:theme:js file="vendors/general/morris.js/morris.js"}
	    {metronic:theme:js file="vendors/general/chart.js/dist/Chart.bundle.js"}
	    {metronic:theme:js file="vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js"}
	    {metronic:theme:js file="vendors/custom/vendors/jquery-idletimer/idle-timer.min.js"}
	    {metronic:theme:js file="vendors/general/waypoints/lib/jquery.waypoints.js"}
	    {metronic:theme:js file="vendors/general/counterup/jquery.counterup.js"}
	    {metronic:theme:js file="vendors/general/es6-promise-polyfill/promise.min.js"}
	    {metronic:theme:js file="vendors/general/sweetalert2/dist/sweetalert2.min.js"}
	    {metronic:theme:js file="vendors/custom/js/vendors/sweetalert2.init.js"}
	    {metronic:theme:js file="vendors/general/jquery.repeater/src/lib.js"}
	    {metronic:theme:js file="vendors/general/jquery.repeater/src/jquery.input.js"}
	    {metronic:theme:js file="vendors/general/jquery.repeater/src/repeater.js"}
	    {metronic:theme:js file="vendors/general/dompurify/dist/purify.js"}

		<!--end:: Global Optional Vendors -->

		<!--begin::Global Theme Bundle(used by all pages) -->
	    {metronic:theme:js file="scripts.bundle.js"}
		<!--end::Global Theme Bundle -->
 <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB0cPuHCMkXgoZZWEaytM0NS9fO6QXN9Hc"></script>
		<!--begin::Page Scripts(used by this page) -->
	    {metronic:theme:js file="vendors/custom/fullcalendar/fullcalendar.bundle.js"}
	    {metronic:theme:js file="vendors/custom/gmaps/gmaps.js"}
	    {metronic:theme:js file="select2.js"}
		<!--end::Page Scripts -->
	    {metronic:theme:js file="routes.js"}
	    {metronic:theme:js file="custom.js"}
	    {metronic:theme:js file="pages/dashboard.js"}

	</body>

	<!-- end::Body -->
</html>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<?php echo form_open(current_url()," id='modal-form' class='modal-form' "); ?>
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title"></div>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer text-right">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="modal-submit-button" type="submit" class="btn btn-primary modal-submit-button">Save changes</button>
					<button type="button" class="btn btn-primary disabled modal-processing-button" name="processing" value="Processing"><i class="fa fa-spinner fa-spin"></i> Processing</button>
					<button type="button" class="btn btn-primary disabled modal-uploading-button" name="processing" value="Uploading"><i class="fa fa-spinner fa-spin"></i> Uploading</button>
				</div>
			</div>
		<?php echo form_close(); ?>
	</div>
</div>




<div class='d-none' id="pay-bill-form-holder">
	<div id="pay-bill-form">
    	<div class="alert alert-solid-danger alert-bold data_error" role="alert" style="display:none;">
			<div class="alert-text">	
				<p><strong> Error encountered </strong></p>
				<div id="error-description">
				</div>	
			</div>
		</div>
		<div id="" class="kt-portlet__body">
			<div class="form-group mt-2">
				<label>Pay Bill Name</label>
				<?php echo form_input('name','','class="form-control" placeholder="" id="name" ');?>
				<?php echo form_hidden('id',''); ?>
			</div>
			<div class="form-group mt-2">
				<label>Category Name</label>
				<?php echo form_input('category_name','','class="form-control" placeholder="" id="category_name" ');?>
			</div>
		</div>
	</div>
</div>

<div class='d-none' id="till-number-form-holder">
	<div id="till-number-form">
    	<div class="alert alert-solid-danger alert-bold data_error" role="alert" style="display:none;">
			<div class="alert-text">	
				<p><strong> Error encountered </strong></p>
				<div id="error-description">
				</div>	
			</div>
		</div>
		<div id="" class="kt-portlet__body">
			<div class="form-group mt-2">
				<label>Till Number Name</label>
				<?php echo form_input('name','','class="form-control" placeholder="" id="name" ');?>
				<?php echo form_hidden('id',''); ?>
			</div>
			<div class="form-group mt-2">
				<label>Category Name</label>
				<?php echo form_input('category_name','','class="form-control" placeholder="" id="category_name" ');?>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var base_url = window.origin;
	$(document).ready(function(){

	    $('form.filter').submit(function(e){
            $('.submit_form_button,.close-filter').hide()
            $('.processing').show();
        });
	})
</script>